.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ce534b18d9a94be544cc.json
build/.cmake/api/v1/reply/cmakeFiles-v1-a1978b85291f4d23de0b.json
build/.cmake/api/v1/reply/codemodel-v2-5198b380fe647dbc82e5.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2023-06-01T15-31-04-0183.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-6bdb773f9cfe437e0c2d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-6bdb773f9cfe437e0c2d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-6bdb773f9cfe437e0c2d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-6bdb773f9cfe437e0c2d.json
build/.cmake/api/v1/reply/target-CServer-Debug-0555d9e2af61c6979aee.json
build/.cmake/api/v1/reply/target-CServer-MinSizeRel-aed53a03e25bbaeb397b.json
build/.cmake/api/v1/reply/target-CServer-Release-a894ebe95f02718827a3.json
build/.cmake/api/v1/reply/target-CServer-RelWithDebInfo-9901a66bf32ed6447a08.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-0bd07a2e2d74d95c4a72.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-0bd07a2e2d74d95c4a72.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-0bd07a2e2d74d95c4a72.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-0bd07a2e2d74d95c4a72.json
build/.cmake/api/v1/reply/toolchains-v1-04d7436218f7a0d2c967.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CServer.sln
build/CServer.vcxproj
build/CServer.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.3/CMakeSystem.cmake
build/CMakeFiles/3.26.3/VCTargetsPath.txt
build/CMakeFiles/3.26.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.26.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.26.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.26.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.26.3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.26.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/f2b1894fffb5211fdc12f44f9bcf05b7/generate.stamp.rule
build/CServer.dir/Debug/CServer.exe.recipe
build/CServer.dir/Debug/CServer.ilk
build/CServer.dir/Debug/main.obj
build/CServer.dir/Debug/vc142.pdb
build/CServer.dir/Debug/CServer.tlog/CL.command.1.tlog
build/CServer.dir/Debug/CServer.tlog/CL.read.1.tlog
build/CServer.dir/Debug/CServer.tlog/CL.write.1.tlog
build/CServer.dir/Debug/CServer.tlog/CServer.lastbuildstate
build/CServer.dir/Debug/CServer.tlog/CustomBuild.command.1.tlog
build/CServer.dir/Debug/CServer.tlog/CustomBuild.read.1.tlog
build/CServer.dir/Debug/CServer.tlog/CustomBuild.write.1.tlog
build/CServer.dir/Debug/CServer.tlog/link.command.1.tlog
build/CServer.dir/Debug/CServer.tlog/link.read.1.tlog
build/CServer.dir/Debug/CServer.tlog/link.write.1.tlog
build/CServer.dir/Release/CServer.exe.recipe
build/CServer.dir/Release/main.obj
build/CServer.dir/Release/CServer.tlog/CL.command.1.tlog
build/CServer.dir/Release/CServer.tlog/CL.read.1.tlog
build/CServer.dir/Release/CServer.tlog/CL.write.1.tlog
build/CServer.dir/Release/CServer.tlog/CServer.lastbuildstate
build/CServer.dir/Release/CServer.tlog/CustomBuild.command.1.tlog
build/CServer.dir/Release/CServer.tlog/CustomBuild.read.1.tlog
build/CServer.dir/Release/CServer.tlog/CustomBuild.write.1.tlog
build/CServer.dir/Release/CServer.tlog/link.command.1.tlog
build/CServer.dir/Release/CServer.tlog/link.read.1.tlog
build/CServer.dir/Release/CServer.tlog/link.write.1.tlog
build/Debug/CServer.exe
build/Debug/CServer.pdb
build/Release/CServer.exe
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
server.exe
